$dark-green: hsla(150%, 14%, 15%, 1);
$purple: hsla(251%, 42%, 50%, 1);
$lilac: hsla(218%, 52%, 69%, 1);
$teal: hsla(180%, 88%, 55%, 1);
$mint: hsla(126%, 49%, 85%, 1);
$dark-gray: #333333;
$white: #ffffff;
$soundcloud:#e15500;

.home__wrapper,
.posts__wrapper,
.post__wrapper {
  padding: 0 5rem;

  @media (max-width: 600px) { padding: 0.5rem; }

  a { text-decoration: none; }

  .feature-post {
    background-color: $white;
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
    position: relative;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);

    @media (max-width: 800px) { flex-flow: column wrap; }

    &:hover {
      box-shadow: 0 30px 30px rgba(0,0,0,.1);
      transform: translate(0,-5px);
      transition-delay: 0s !important;
    }

    .post-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      flex: 2;
    }
  }

  .sound-cloud-tag {
    background-color: $soundcloud;
    color: $white;
    font-size: 1.4em;
    padding: 0.6rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  .post-content {
    flex: 1;
    padding: 1.5rem;

    .post-author {
      border-radius: 100%;
      width: 50px;
    }

    .post-title:hover {
      color: $purple;
      text-decoration: underline;
      transition: 0.2s ease-in;
    }

    .post-title {
      h2 {
        margin-bottom: 3rem;
      }
    }

    .post-title,
    .post-date { color: $dark-gray; }

    .post-date {
      font-weight: 100;
      font-size: .9em;
      text-transform: uppercase;
    }

    .tags-time {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .tags {
        align-items: flex-end;
        align-self: flex-start;

        .tag {
          margin-right: 1rem;
          &:hover {
            box-shadow: inset 0 -2px 0 0 $purple;
            color: $purple;
            transition: 0.1s ease-in;
          }
        }
      }

      .post-time {
        align-items: flex-end;
        align-self: flex-end;
      }
    }
  }

  .secondary-posts {
    display: flex;
    flex-flow: row wrap;

    .secondary-post {
      background-color: $white;
      box-shadow: 0 20px 20px rgba(0,0,0,.08);
      flex: 1;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 3rem;
      position: relative;
      transition: all 250ms cubic-bezier(.02, .01, .47, 1);

      .post-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
      }

      @media (max-width: 800px) { flex-flow: column wrap; }

      &:hover {
        box-shadow: 0 30px 30px rgba(0,0,0,.1);
        transform: translate(0,-5px);
        transition-delay: 0s !important;
      }

      &:first-of-type { margin-right: 1rem; }
      &:last-of-type { margin-left: 1rem; }

      @media (max-width: 800px) {

        &:first-of-type { margin-right: 0rem; }
        &:last-of-type { margin-left: 0rem; }
      }

      .post-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex: 1;

        @media (max-width: 800px) {
          order: 1;
          display: none;
       }
      }
    }
  }

  .posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;

    .post {
      background-color: $white;
      box-shadow: 0 20px 20px rgba(0,0,0,.08);
      display: flex;
      flex-direction: column;
      flex: 20%;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 3rem;
      position: relative;
      transition: all 250ms cubic-bezier(.02, .01, .47, 1);

      @media (max-width: 800px) {
        flex-flow: column wrap;
        margin-left: 0;
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0 30px 30px rgba(0,0,0,.1);
        transform: translate(0,-5px);
        transition-delay: 0s !important;
      }

      .post-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 125px;
      }

      .post-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .no-image { border-top: 10px solid $purple; }

  .page-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .page-links {
      display: flex;
      justify-content: space-between;
    }

    .read-more,
    .see-more,
    .newer-posts {
      align-self: flex-end;
      margin-bottom: 3rem;
      margin-top: 1rem;

      &:after {
        content: '\f061';
        font-family: 'fontawesome';
      }
    }

    .older-posts {
      align-self: flex-start;
      margin-bottom: 3rem;
      margin-top: 1rem;
      &:before {
        content: '\f060';
        font-family: 'fontawesome';
      }
    }

    img { margin-bottom: 4rem; }
  }

  .sponsors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2rem;

    @media (max-width: 800px) {
      justify-content: center;
    }

    .sponsor {
      margin: 0.5rem;

      &:hover { opacity: 0.8; }
    }
  }

  .cartoon {
    width: 15rem;
    margin: 0 auto 4rem auto;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    &:hover {
      transform: translate(0,-5px);
      transition-delay: 0s !important;
    }
  }
}
