$purple: hsla(251%, 42%, 50%, 1);
$lilac: hsla(218%, 52%, 69%, 1);
$gray: #f2f2f2;

.post__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

  .post-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .post-container {
    padding: 2rem 8rem;

    @media ( max-width: 800px ) {
      padding: 1rem;
    }

    .post-full {
      margin-bottom: 4rem;
    }

    .post-date {
      font-weight: 100;
      font-size: .9em;
      text-transform: uppercase;
    }

    .post-title-main {
      font-size: 2em;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    .post-author-img-name {
      align-items: center;
      display: flex;
      flex-direction: row;

      .post-author-img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-right: 1rem;
      }

      h4 {
        font-weight: normal;
        &:before { content: "By"; }
      }
    }

    p { line-height: 1.8em; }

    .post-code-block {
      background-color: $gray;
      border-radius: 0.5rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
      padding: 1.5rem 2.5rem;
    }
  }

  .post-tags {
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;

    .tag {
      margin-right: 2rem;
      &:hover { text-decoration: underline; }
    }
  }

  .post-sponsor {
    h6 {
      color: $lilac;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    img { margin-bottom: 2rem; }
  }

  .post-selections {
    h5 {
      color: $purple;
      margin-bottom: 4rem;
      margin-top: 4rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
