<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <meta name="description" content="Bringing you the News &amp; Interviews from around the Elixir Community">
    <meta name="author" content="Johnny Winn">
    <meta content="Elixir Fountain" property="og:title">
    <meta content="http://www.elixirfountain.com" property="og:url">
    <meta content="website" property="og:type">
    <meta content="Bringing you the News &amp; Interviews from around the Elixir Community" property="og:description">
    <meta content="@elixirfountain" property="twitter:site">
    <meta content="Elixir Fountain" property="twitter:title">
    <meta content="Bringing you the News &amp; Inteviews from around the Elixir Community" property="twitter:description">
    <title>Elixir Fountain</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
