<div class="home__wrapper">
  <a href="#">
    <div class="feature-post">
      <img class="feature-image" src="http://lorempixel.com/600/300/technics" />
      <div class="feature-content">
        <div class="sound-cloud-tag">
          <i class="fa fa-soundcloud" aria-hidden="true"></i>
        </div>
        <img class="author" src="http://lorempixel.com/50/50/people" />
        <h2 class="post-title">Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2>
        <h3 class="post-date">December 25, 2017</h3>
        <div class="tags">
          <a href="#" class="tag">Education</a>
          <a href="#" class="tag">Elixir</a>
        </div>
        <div class="post-time">
          <i class="fa fa-clock-o"></i>
          <span class="time">25 min</span>
        </div>
      </div>
    </div>
  </a>
</div>
