<div class="home__wrapper">
  <div class="posts__wrapper">
    <div class="feature-post">
      <img class="post-image" style="background-image: url(http://via.placeholder.com/600x300);" />
      <div class="post-content">
        <div class="sound-cloud-tag">
          <i class="fa fa-soundcloud" aria-hidden="true"></i>
        </div>
        <img class="post-author" src="http://via.placeholder.com/50x50" />
        <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
        <h3 class="post-date">December 25, 2017</h3>
        <div class="tags-time">
          <div class="tags">
            <a href="#" class="tag">Education</a>
            <a href="#" class="tag">Elixir</a>
          </div>
          <div class="post-time">
            <i class="fa fa-clock-o"></i>
            <span class="time">25 min</span>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-posts">
      <div class="secondary-post">
        <div class="post-content">
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
          <h3 class="post-date">December 25, 2017</h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag">Education</a>
              <a href="#" class="tag">Elixir</a>
            </div>
          </div>
        </div>
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x300);" />
      </div>
      <div class="secondary-post">
        <div class="post-content">
          <div class="sound-cloud-tag">
            <i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
          <h3 class="post-date">December 25, 2017</h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag">Education</a>
              <a href="#" class="tag">Elixir</a>
            </div>
            <div class="post-time">
              <i class="fa fa-clock-o"></i>
              <span class="time">25 min</span>
            </div>
          </div>
        </div>
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x300);" />
      </div>
    </div>
    <div class="posts">
      <div class="post">
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x125);" />
        <div class="post-content">
          <div class="sound-cloud-tag">
            <i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
          <h3 class="post-date">December 25, 2017</h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag">Education</a>
              <a href="#" class="tag">Elixir</a>
            </div>
            <div class="post-time">
              <i class="fa fa-clock-o"></i>
              <span class="time">25 min</span>
            </div>
          </div>
        </div>
      </div>
      <div class="post no-image">
        <div class="post-content">
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
          <h3 class="post-date">December 25, 2017</h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag">Education</a>
              <a href="#" class="tag">Elixir</a>
            </div>
            <div class="post-time">
              <i class="fa fa-clock-o"></i>
              <span class="time">25 min</span>
            </div>
          </div>
        </div>
      </div>
      <div class="post">
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x125);" />
        <div class="post-content">
          <div class="sound-cloud-tag">
            <i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
          <h3 class="post-date">December 25, 2017</h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag">Education</a>
              <a href="#" class="tag">Elixir</a>
            </div>
            <div class="post-time">
              <i class="fa fa-clock-o"></i>
              <span class="time">25 min</span>
            </div>
          </div>
        </div>
      </div>
      <div class="post">
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x125);" />
        <div class="post-content">
          <div class="sound-cloud-tag">
            <i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="#" class="post-title"><h2>Episode:076 Diversifying Elixir with Love with Rachel Serur and Omid Bachari</h2></a>
          <h3 class="post-date">December 25, 2017</h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag">Education</a>
              <a href="#" class="tag">Elixir</a>
            </div>
            <div class="post-time">
              <i class="fa fa-clock-o"></i>
              <span class="time">25 min</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-navigation">
    <a href="#" class="read-more">Read More Posts <i class="fa fa-arrow-right"></i></a>
    <img src="/images/bar.svg" />
  </div>
  <div class="sponsors">
    <a href="#" class="sponsor">
      <img src="http://via.placeholder.com/225x100" />
    </a>
    <a href="#" class="sponsor">
      <img src="http://via.placeholder.com/225x100" />
    </a>
    <a href="#" class="sponsor">
      <img src="http://via.placeholder.com/225x100" />
    </a>
    <a href="#" class="sponsor">
      <img src="http://via.placeholder.com/225x100" />
    </a>
    <a href="#" class="sponsor">
      <img src="http://via.placeholder.com/225x100" />
    </a>
  </div>
  <div class="page-navigation">
    <a href="#" class="see-more">See More Sponsors <i class="fa fa-arrow-right"></i></a>
  </div>
</div>
