<div class="post__wrapper">
  <h2><%= lorem.words 15 %></h2>
  <img class="post-author" src="http://via.placeholder.com/50x50" />
  <h4>
    <%= lorem.name %>
  </h4>
  <p>
    <%= lorem.paragraphs 2 %>
  </p>
  <p>
    <%= lorem.paragraphs 2 %>
  </p>
</div>
